/*
================
   Author Page
================
*/
.author-page {
    padding: 0 .5rem;
    padding-top: 1.2rem;
    padding-bottom: 4rem;
}

.author-page header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 2rem;
    padding-bottom: 1.2rem;
    margin-bottom: 2.2rem;
}

.image-author {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 259px;
    height: 194px;
    border-radius: 2%;
}

.author-description {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    margin-bottom: 1rem;
}

.author-description p {
    max-width: 900px;
    padding: 0 2rem;

    text-indent: 28pt;
}

.biography header {
    padding-bottom: .7rem;
    margin-bottom: 0;
}

@media screen and (min-width: 1440px) {
    .biography header h3.subheading {
        font-size: 1.4rem;
    }
}

.biography {
    padding: 2rem;
}


/*
================
   Author Image
================
*/
#augusto_dos_anjos {
    background-image: url("../img/augusto_dos_anjos.jpg");
}
#lord_byron {
    background-image: url("../img/Byron.jpg");
}
#edgar-allan-poe {
    background-image: url("../img/Edgar_Allan_Poe.jpg");
}

