@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/*
================
   Scroll Bar
================
*/
html::-webkit-scrollbar{
    width: .65rem;
}

html::-webkit-scrollbar-track{
    background: #000;

}

html::-webkit-scrollbar-thumb{
    background: #D21111;
    border-radius: 1px;
}


:root {
    --black: #020203;
    --white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    font-family: 'JetBrains Mono', monospace;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.content p {
    text-indent: 42px;
    padding: 12px;
    line-height: 26px;
}

.heading {
    padding: .7rem 1.2rem;

    color: #d21111;
    font-size: 1.65rem;
}

.note-header {
    font-size: 1.05rem;
    text-indent: 26pt;
}

.subheading {
    font-size: 1.12rem;
    padding: .7rem 1.2rem;
}

/*
   Header
   Page
*/

.header-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--black);

    color: var(--white);
}

.box-logo {
    padding: 1.2rem;
}

.navbar {
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    width: 100%;
}

.navbar .nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: .6rem 1.3rem;
}

.nav-link {
    padding: 1rem 1.3rem;
    position: relative;
}

.nav-link a {
    color: #fff;
    transition: color .5s;
}

.nav-link a:hover {
    color: #D21111;
    letter-spacing: .2pt;
}


.footer-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--black);
    padding: 1.6rem;

    color: var(--white);
}

.footer-page .footer-logo {
    font-size: 1.16rem;
}

.hero-container {
    width: 100%;
    height: 81vh;
    background: url("../img/Dark-romanticism.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.71);
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;

    color: white;
}

.hero-content p {
    font-size: 1.2rem;
    line-height: 26pt;
    text-align: center;
}
.hero-content span, 
.hero-content p > span {
    color: #d21111;
    font-size: 1.8rem;
}

.hero-content span {
    margin-top: 1.2rem;
    font-size: 1.2rem;
}

